# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/footalent_db?schema=public"

# Swagger Configuration
SWAGGER_HOST=localhost:3000
SWAGGER_SCHEMES=http
